:root{
    --main-yellow:#ffb800;
    --main-red:#dd1227;
    --main-blue:#002078;
}
.w1420 {
    max-width: 1420px;
    margin: 0 auto;
}

.w100{
    width: 100%;
}

.flex{
    display: flex;
}

header{
    padding: 0 50px;
}